{% extends base_template_name %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

<title>{% block extra_title %} Healthcare Articles {% endblock extra_title %}</title>

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                </div>
            </div>
            <div class="row">
                {% for article in articles %}
                    {% if user.is_staff %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="card h-100 border-0 mx-2">
                            <div class="card-body pb-0">
                                <h5 class="text-center mb-0">{{ article.title }} ({{ article.status }} by {{ article.author }} )</h5>
                            </div>
                    {% else %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="card h-100 border-0 mx-2">
                            <div class="card-body pb-0">
                                <h5 class="text-center mb-0">{{ article.title }}</h5>
                            </div>
                    {% endif %}
                        <img src="{{MEDIA_URL}}{{ article.image }}" class="card-img-top rounded-circle col-offset-2 web-card-img"
                            alt="{{ article.title }} image">
                        <div class="card-body pb-0">
                            {% if article.content|safe|wordcount > 50 %}
                                <p class="card-text">{{ article.content|safe|truncatewords_html:50 }}</p>
                                {% if user.is_staff %}
                                    <!-- Edit and Delete Button if user is_staff -->
                                        <button class="btn btn-sm btn-delete-post ms-1" article_id="{{ article.id }}" article_slug="{{ article.slug }}">Delete</button>
                                        <a href="{% url 'edit_article' article.slug article.pk %}" class="btn-sm btn btn-edit ms-1" article_id="{{ article.id }}">Edit</a>
                                        </p>
                                {% else %}
                                    <!-- Button trigger modal -->
                                    <button aria-label="read more" type="button" class="btn btn-primary btn-purple" data-toggle="modal"
                                        data-target="#{{ article.slug }}">
                                        Read More &rarr;
                                    </button>
                                {% endif %}

                                <!-- Modal -->
                                <div class="modal fade" id="{{ article.slug }}" tabindex="-1" role="dialog"
                                    aria-labelledby="{{ article.slug }}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{ article.slug }}Title">{{ article.title }}</h5>
                                                <button aria-label="close" type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ article.content|safe }}
                                            </div>
                                            <div class="modal-footer">
                                                <button aria-label="close" type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p class="card-text">{{ article.content|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 blorder border-purple">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa fa-arrow-up text-purple mx-auto my-auto"></i>
    </a>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block postloadjs %}
{% endblock postloadjs %}

{% block extra_postloadjs %}
{% endblock extra_postloadjs %}