{% extends base_template_name %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

<title>{% block extra_title %} Edit Healthcare Services {% endblock extra_title %}</title>

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        {% for service in services %}
            <div class="card flex-row flex-wrap border-0 col-sm-5 col-md-3 col-lg-3 col-xl-2 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
                <div>
                    <a href="{% url 'edit_service' service.id %}" class="btn btn-warning link-purple" role="button" title="Edit {{ service.id }}">Edit</a>
                </div>
                <div class="card-header border-0 bg-white">
                    <img src="{{MEDIA_URL}}{{ service.icon }}" class="service-icon" alt="an image of {{ service.title }}" />
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title text-black"><strong>{{ service.title|safe }}</strong></h4>
                    {% if service.content|safe|wordcount > 50 %}
                        <p class="card-text">{{ service.content|safe|truncatewords_html:50 }}</p>
                        <p class="mx-auto">
                            <a href="{% url 'service_detail' service.id %}" class="btn btn-purple link-purple" role="button" title="Read more of {{ service.title }}">Read More</a>
                        </p>
                    {% else %}
                        <p class="card-text">{{ service.content|safe }}</p>
                    {% endif %} 
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 blorder border-purple">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa fa-arrow-up text-purple mx-auto my-auto"></i>
    </a>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block postloadjs %}
{% endblock postloadjs %}

{% block extra_postloadjs %}
{{ block.super }}
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
{% endblock extra_postloadjs %}