{% extends base_template_name %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock page_header %}

<title>{% block extra_title %}{{"Phelans | the Friendliest Pharmacy Wateford"}}{% endblock extra_title %}</title>

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">    
                <h1 class="display-4 logo-font text-white">
                    Phelans Pharmacy: serving you!    
                </h1>
                <div class="my-5" >
                    <h4>
                        <a href=" {% url 'order_px' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-4">Prescriptions</a>
                    </h4>
                </div>
                <div class="my-5" >
                    <h4>
                        <a href=" {% url 'all_products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-4">Shop Now</a>
                    </h4>
                </div>
                <div class="my-1" >
                    <h4>
                        <a href=" {% url 'subscribe' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-4">Newsletter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'includes/white-footer.html' %}
{% endblock footer %}

{% block extra_postloadjs %}
{% endblock extra_postloadjs %}
