html {
    height: 100%;
}

body {
    background: url('https://phelans-pharmacy.s3.eu-west-1.amazonaws.com/media/pp_homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 264px);
    color: #744380;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #744380;
    color: white;
    min-width: 260px;
}

.btn-purple {
    background: #744380;
    color: white;
}

.btn-outline-purple {
    background: white;
    color: #744380 !important;
    border: 1px solid #744380;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background: #744380;
    color: white;
}

.border-purple {
    border: 1px solid #744380 !important;
}

.text-purple {
    color: #744380 !important;
}

.text-white {
    color: #fff !important;
}

.bg-purple {
    background-color: #744380 !important;
}

.phelans-logo {
    max-width: 271px;
}

/* anchor tags white */
.white-link {
    color: #fff;
}

/* anchor tags purple */
.purple-link {
    color: #744380;
}

/* anchor tags hover */
.white-link:hover {
    color: #fff;
}

/* anchor tags hover */
.purple-link:hover {
    color: #744380;
}

/* -------------Font Awesome */
.fa-shopping-bag,
.fa-user,
.fa-label,
.fa-search-mobile {
        color: #744380;
}

/* -------------change card for white background and purple foreground */
/* .card-header-purple {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; /* Removes the default margin-bottom of <hN>
    color: $card-cap-color;
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;

    &:first-child {
        @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
} */

/* .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  } */


/* --------------------centre footer images */
.footer-card {
    background-color: rgba(255,255,255,0);
    max-height: 180px;
    max-width: 180px;
}

.footer-card-purple {
    max-height: 180px;
    max-width: 180px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background-color: #fff !important;
    /* color: rgba(0, 0, 0, .7); */
    color: #744380 !important;
}

/* BackToTop buttone/link */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, 
.update-link, 
.remove-item {
    cursor: pointer;
}

.border-purple {
    border: 1px solid #744380 !important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 216px;
    }
}

/* pad top navbarwhen collapsed */
@media (max-width: 991px) {
    .header-container {
        padding-top: 156px;
    }
}