html {
    height: 100%;
}

body {
    background: url('/media/pp_homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 264px);
    color: #fff;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #744380;
    color: white;
    min-width: 260px;
}

.btn-purple {
    background: #744380;
    color: white;
}

.btn-purple {
    background: #744380;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background: #744380;
    color: white;
}

.border-purple {
    border: 1px solid #744380 !important;
}

.bg-purple {
    background-color: #744380 !important;
}

.phelans-logo {
    max-width: 271px;
}

/* anchor tags white */
.white-link {
    color: #fff;
}

/* anchor tags hover */
.white-link:hover {
    color: #744380;
}


/* -------------Font Awesome */

.fa-shopping-bag,
.fa-user,
.fa-label,
.fa-search-mobile {
        color: #744380;
}

/* --------------------centre home page images */
.card {
    background-color: rgba(255,255,255,0);
    max-height: 180px;
    max-width: 180px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 264px;
    }
}