<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-6 footer-card  mx-auto">
            <div class="card-header">
                <a href="https://phelanspharmacy.com/location/" class=" white-link"><img src="/media/location-icon-white.png" class="card-img-top" alt="location"/>
                <h4 class="card-title">Find Us!</h4>
                <p class="card-subtitle">Find us on the Map</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card  mx-auto">
            <div class="card-header">
                <a href="https://phelanspharmacy.com/contact/" class=" white-link"><img src="/media/phone-icon-white.png" class="card-img-top" alt="location"/>
                <h4 class="card-title">Call Us!</h4>
                <p class="card-subtitle"><a class="white-link" href="tel:051%20874%20466">051 874 466</a></p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card  mx-auto">
            <div class="card-header">
                <a href="https://phelanspharmacy.com/location/" class=" white-link"><img src="/media/mail-icon-white.png" class="card-img-top" alt="location"/>
                <h4 class="card-title">Message Us!</h4>
                <p class="card-subtitle"><a class="white-link" href="mailto:info@phelanspharmacy.com">Send an Email</a></p>
                </a>
            </div>
        </div>
    </div>
</div>
