<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'all_products' %}" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item">By Price </a>
                <a href="{% url 'all_products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating </a>
                <a href="{% url 'all_products' %}?sort=category&direction=asc" class="dropdown-item">By Category </a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Products </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'all_products' %}" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'all_products' %}?category=special_offer" class="dropdown-item">Special Offer </a>
                <a href="{% url 'all_products' %}?category=cosmetics,fragrances" class="dropdown-item">Fragrances &amp; Cosmetics </a>
                <a href="{% url 'all_products' %}?category=healthcare" class="dropdown-item">Healthcare </a>
                <a href="{% url 'all_products' %}?category=mens_care" class="dropdown-item">Men's Care </a>
                <a href="{% url 'all_products' %}?category=vitamins_and_minerals" class="dropdown-item">Vitamins &amp; Minerals	</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-instore-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop Instore
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <!-- <a href="" class="dropdown-item">Instore Products</a> -->
                <!-- <a href="" class="dropdown-item">Services</a> -->
                <a href="{% url 'healthcare_advice' %}" class="dropdown-item">Healthcare</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">Buy Online</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>