<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'all_products' %}" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'add_product' %}" class="dropdown-item">Add Product </a>
                <a href="{% url 'edit_products' %}" class="dropdown-item">Edit Products </a>
                <a href="{% url 'delete_products' %}" class="dropdown-item">Delete Products </a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All Products (Custmer View) </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'all_products' %}" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orders
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'order_px' %}" class="dropdown-item">Prescriptions </a>
                <a href="{% url 'all_products' %}?category=special_offer" class="dropdown-item">Special Offer </a>
                <a href="{% url 'all_products' %}?category=cosmetics,fragrances" class="dropdown-item">Fragrances &amp; Cosmetics </a>
                <a href="{% url 'all_products' %}?category=healthcare" class="dropdown-item">Healthcare </a>
                <a href="{% url 'all_products' %}?category=mens_care" class="dropdown-item">Men's Care </a>
                <a href="{% url 'all_products' %}?category=vitamins_and_minerals" class="dropdown-item">Vitamins &amp; Minerals	</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-instore-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prescriptions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'px_admin' %}" class="dropdown-item">PX Administration</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">Buy Online</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="articles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="articles">
                <a href="{% url 'add_service' %}" class="dropdown-item">Add Service </a>
                <a href="{% url 'edit_services' %}" class="dropdown-item">Edit Services </a>
                <a href="{% url 'delete_services' %}" class="dropdown-item">Delete Services </a>
                <a href="{% url 'all_services' %}" class="dropdown-item">All Service (Custmer View) </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="articles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="articles">
                <a href="{% url 'add_article' %}" class="dropdown-item">Add Article </a>
                <a href="{% url 'edit_articles' %}" class="dropdown-item">Edit Articles </a>
                <a href="{% url 'delete_articles' %}" class="dropdown-item">Delete Articles </a>
                <a href="{% url 'all_articles' %}" class="dropdown-item">All Articles (Custmer View) </a>
            </div>
        </li>
    </ul>
</div>