<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-6 footer-card-purple mx-auto">
            <div class="card-header-white">
                <a class="purple-link a-remove" rel="external" href="https://www.google.com/maps/dir//Phelans+Pharmacy,+33+Michael+St,+Waterford,+X91+HT66/@52.258286,-7.111971,16z/data=!4m17!1m7!3m6!1s0x4842c69e992623eb:0x72e8e372de2d6fa9!2sPhelans+Pharmacy!8m2!3d52.2587717!4d-7.1117778!16s%2Fg%2F1tfgcn4j!4m8!1m0!1m5!1m1!1s0x4842c69e992623eb:0x72e8e372de2d6fa9!2m2!1d-7.1117778!2d52.2587717!3e2?hl=en&entry=ttu" target="_blank">
                    <i class="fa-solid fa-location-dot fa-2xl fa-center"></i>
                    <p class="text-center mt-2 mb-0">Get Directions</p>
                </a>
            </div>
        </div>  
        <div class="col-md-4 col-sm-6 footer-card-purple mx-auto">
            <div class="card-header-white">
                <a class="purple-link a-remove" href="tel:+35351874466" target="_blank">
                    <i class="fa-solid fa-phone-volume fa-2xl fa-center"></i>
                    <p class="text-center mt-2 mb-0">Call Us</p>
                    <p class="text-center my-0">051 87 44 66</p>                
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card-purple mx-auto">
            <div class="card-header-white">
                <a class="purple-link a-remove" href="mailto:info@phelanspharmacy.com" target="_blank">
                    <i class="fa-solid fa-envelope-open-text fa-2xl  fa-center"></i>
                    <p class="text-center mt-2 mb-0">Email Us</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card-purple mx-auto">
            <div class="card-header-white">
                <a class="purple-link a-remove" rel="external" href="https://www.facebook.com/profile.php?id=61558063517842" target="_blank">
                    <i class="fab fa-facebook-square fa-2x fa-center"></i>
                    <p class="text-center">Facebook</p>
                </a>
            </div>
        </div>
    </div>    
</div>
