<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-6 footer-card-purple  mx-auto">
            <div class="card-header-purple">
                <a href="https://phelanspharmacy.com/location/" class=" purple-link"><img src="/media/location-icon-purple.png" class="card-img-top" alt="location"/>
                <h4 class="card-title">Find Us!</h4>
                <p class="card-subtitle">Find us on the Map</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card-purple mx-auto">
            <div class="card-header-purple">
                <a href="https://phelanspharmacy.com/contact/" class=" purple-link"><img src="/media/phone-icon-purple.png" class="card-img-top" alt="contact"/>
                <h4 class="card-title">Call Us!</h4>
                <p class="card-subtitle"><a class="purple-link" href="tel:051%20874%20466">051 874 466</a></p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-card-purple  mx-auto">
            <div class="card-header-purple">
                <a href="https://phelanspharmacy.com/location/" class="purple-link"><img src="/media/mail-icon-purple.png" class="card-img-top" alt="email"/>
                <h4 class="card-title">Message Us!</h4>
                <p class="card-subtitle"><a class="purple-link" href="mailto:info@phelanspharmacy.com">Send an Email</a></p>
                </a>
            </div>
        </div>
    </div>
</div>
