{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="logo-font mt-5 mb-5">
                <h2 class="logo-font mt-5 mb-5">Ooops, something went wrong, a 404 Error occured</h2>
                <hr>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <a href="/"class="btn btn-purple text-white rounded-5 mc-embedded-subscribe">Home</a>
            </div>
        </div>   
{% endblock %}


{% block footer %}
    {% include 'includes/purple-footer.html' %}
{% endblock footer %}

{% block postloadjs %}
{% endblock postloadjs %}

{% block extra_postloadjs %}
{% endblock extra_postloadjs %}