{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

<title>{% block extra_title %} Order your Prescription {% endblock extra_title %}</title>

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Prescription</h2>
            <h5 class="text-muted" >Order your Prescription</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'order_px' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'px_image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a href="{% url 'home' %}" class="btn btn-outline-purple rounded-0">Cancel</a>
                    <button aria-label="order prescription" class="btn btn-purple rounded-0" type="submit">Order Prescription</button>
                </div>  
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block postloadjs %}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
        });
    </script>
{% endblock postloadjs %}