{% extends base_template_name %}
{% load static %}

{% load px_options %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">PX Admin</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'px_admin' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form %}
                    <div class="order-history table-responsive">
                        <table class="table table-sm-table-borderless">
                            <thead>
                                <tr>
                                    <th>Progress PX </th>
                                    <th>Status</th>
                                    <th>Collection / Delivery</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Sent Date</th>
                                    <th>Required Date</th>
                                    <th>Doctors Name</th>
                                    <th>Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for px in form %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'edit_px_status' px.id %}" title="Update {{ px.px_order_number }}">
                                                <p class="small mt-1 mb-0">Update </p>
                                            </a>  
                                        </td>
                                        <td>
                                            {% for key, value in PX_STATUS.items %}
                                                {% if px.px_status|get_from_px_status == value %}
                                                    {{ value }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td> {{ px.px_delivery|get_from_px_delivery }}</td>
                                        <td> {{ px.full_name }}</td>
                                        <td> {{ px.email }}</td>
                                        <td> {{ px.phone_number }}</td>
                                        <td> {{ px.date_sent|date:"D M d, Y G:i" }}</td>
                                        <td> {{ px.date_required|date:"D M d, Y G:i" }}</td>
                                        <td> {{ px.dr_full_name }}</td>
                                        <td> {{ px.px_image }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                {% else %}
                    <p class="text-muted">There are no px orders</p>
                {% endif %}
            </div>
        </div>  
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block postloadjs %}   
{% endblock postloadjs %}

{% block extra_postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>$('.toast').toast('show')</script>
{% endblock extra_postloadjs %}